.footer{
    background: #FE9798;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    .footer__logo{
        img{
            width: 150px;
            height: 40px;
        }
    }
    .footer__content{
        color: white;
        text-align: right;
    }
}
.user__inner{
    justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
    .user__inner{
        justify-content: flex-end !important;
        padding: 0 !important;
        .user__block{
            margin-right: 0 !important; 
            a{
                color: white !important;
            }
        }
    }
}