
.editing{
    text-align: center;
}
.user{
    display: flex;
    .user__block{
        margin-left: 1rem;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.navigation{
    z-index: 999;
    position: relative;
    .header{
            position: fixed;
            width: 100%;
            background: rgba(128, 128, 128, 0.5);
        .nav{
            // padding: 0 2rem;
            width: 100%;
            // background: rgba(128, 128, 128, 0.5);
            display: flex;
            justify-content: space-between;
            align-items: center;
            // display: none;
            .nav__logo{
                padding-top:2rem; 
                img{
                    width: 150px;
                    height: 40px;
                }
            }
            .nav__list{
                list-style-type: none;
                z-index: 99;

                .nav__item{
                    display: inline-block;
                    z-index: 99;

                    .nav__link{
                        z-index: 99;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                        // background: blue;
                        padding: 1rem 0.5rem;
                        margin-left: 3rem;
                        transition: 0.3s;
                        font-size: 1.6rem;
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            background: transparent;
                            border-bottom: 3px solid red;
                            transition: 0.3s;
                        }
                        &:hover{
                            color: red;
                        }
                    }
                }
                .active{
                    .nav__link{
                        color: red;
                        font-weight: 700;
                        &:after{
                            right: 0;
                        }
                    }
                }
            }
        }
        .nav-mobile{
            // padding: 0 2rem;
            width: 100%;
            background: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            display: none;
            .nav__logo{
                padding-top:2rem; 
                img{
                    width: 150px;
                    height: 40px;
                }
            }
            .nav__toggle{
                i{
                    font-size: 2rem;
                }
            }
            .nav__list{
                z-index: 99;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                list-style-type: none;
                background: white;
                border: 1px solid #eeee;
                // height: 100vh;
                .nav__item{
                    // display: inline-block;
                    .nav__link{
                        z-index: 99;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        // background: blue;
                        padding: 1rem 0.5rem;
                        margin-left: 0rem;
                        transition: 0.3s;
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            background: transparent;
                            border-bottom: 3px solid red;
                            transition: 0.3s;

                        }
                    }
                }
                .active{
                    .nav__link{
                        color: red;
                        font-weight: 700;
                        &:after{
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}
//test
.about{
    height: 100vh;
    background: black;
}
.services{
    height: 100vh;
    background: yellow;
}
.signup{
    height: 100vh;
    background: red;
}

@media only screen and (max-width: 767px){
    .navigation{
        .header{
                position: fixed;
                width: 100%;
    
            .language{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .laguage-content{
                    p{
                        text-align: center;
                    }
                }
            }
            .nav{
                display: none;
            }
            .nav-mobile{
                display: flex;
            }
        }
    }
    .user{
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        .user__block{
            margin-right: 1rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}