.footer
    .footer__inner.container
        .footer__logo
            img(src="../../../dist/assets/images/logo.png", alt="")
        .footer__content
            p Contact us
            p Phone: 2.2.2.0.0.0
            p Address: 02/21 DARND
            .user.user__inner
                .user__block
                    a(href="#") <i class="fab fa-facebook"></i>
                .user__block
                    a(href="#") <i class="fas fa-envelope"></i>
                .user__block
                    a(href="#") <i class="fab fa-twitter-square"></i>