.header__component
    section.navigation
        .header
            .nav.container
                .nav__logo
                    img(src="../../../dist/assets/images/logo.png", alt="")
                ul.nav__list
                    li.nav__item.active
                        a(href="#about").nav__link HOME
                    li.nav__item
                        a(href="#services").nav__link ABOUT
                    li.nav__item
                        a(href="#signup").nav__link CONTACT
                    li.nav__item
                        a(href="#signup").nav__link HELP
                .user
                    .user__block
                        a(href="#") <i class="fas fa-search"></i>
                    .user__block
                        a(href="#") <i class="fas fa-user"></i>
                    .user__block
                        a(href="#") <i class="fas fa-shopping-cart"></i>
            .nav-mobile
                .nav__logo
                    img(src="../../../dist/assets/images/logo.png", alt="")
                .nav-box1    
                    .nav__toggle
                        <i class="fas fa-bars"></i>
                    ul.nav__list
                        li.nav__item.active
                            a(href="#about").nav__link HOME
                        li.nav__item
                            a(href="#services").nav__link ABOUT
                        li.nav__item
                            a(href="#signup").nav__link CONTACT
                        li.nav__item
                            a(href="#signup").nav__link HELP
                        li.nav__item
                            .user
                                .user__block
                                    a(href="#") <i class="fas fa-search"></i>
                                .user__block
                                    a(href="#") <i class="fas fa-user"></i>
                                .user__block
                                    a(href="#") <i class="fas fa-shopping-cart"></i>
                        //- section#about(data-scroll-spy="section").about
                        //- section#services(data-scroll-spy="section").services
                        //- section#signup(data-scroll-spy="section").signup
    .slogan
        .row.team-carousel(nettl-droppable='row', style='width:100%;margin:0;padding-top: 41px; padding-bottom: 0px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../dist/assets/images/background-header.jpg); background-repeat: no-repeat; background-position: center center; background-attachment: scroll, fixed; min-height: 100vh; background-size: cover, cover;')
            .container.text-center
                .col-sm-12.col-md-12.editing(style='background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 40px 15px 0px;', nettl-droppable='column')
                    h3(style='margin-bottom: 36px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.01); color: rgb(255, 255, 255);', contenteditable='false')
                        |Welcome to 
                        span(style="color:red;") Babyshow.com
                    br
                a.cs-animates2-btn(href='img/828162.pdf', style='letter-spacing: 0px; color: rgb(245, 245, 245); background-color: rgba(255, 240, 240, 0.13); font-size: 15px; border-color: rgb(255, 255, 255); margin-bottom: 58px;', target='', contenteditable='false') Download Prospectus
                a(target='', href='#')