.wrapper-product(style="margin: 3rem 0;")
    .container
        .product-item.row
            .col-lg-5.col-md-5.col-sm-12.col-12.pd-x3
                .item_img
                    img(src="../../../dist/assets/images/1.jpg")
            .col-lg-7.col-md-7.col-sm-12.col-12.pd-x3
                .item_content
                    .title.text-center
                        h1 Baby girl fashion
                    .content
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, exercitationem voluptates. Nostrum, eaque illo a tempore qui amet assumenda tenetur? Ullam, exercitationem autem! Tempora optio exercitationem, sit dolorem saepe totam.
                    .button
                        a(href="#").btn-item
                            | Xem thêm nè
                            <i class="fab fa-rocketchat"></i>
        .product-item.flex-r.row
            .col-lg-5.col-md-5.col-sm-12.col-12.pd-x3
                .item_img
                    img(src="../../../dist/assets/images/2.jpg")
            .col-lg-7.col-md-7.col-sm-12.col-12.pd-x3
                .item_content
                    .title.text-center
                        h1 Baby girl fashion
                    .content
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, exercitationem voluptates. Nostrum, eaque illo a tempore qui amet assumenda tenetur? Ullam, exercitationem autem! Tempora optio exercitationem, sit dolorem saepe totam.
                    .button
                        a(href="#").btn-item
                            | Xem thêm nè
                            <i class="fab fa-rocketchat"></i>
        .product-item.row
            .col-lg-5.col-md-5.col-sm-12.col-12.pd-x3
                .item_img
                    img(src="../../../dist/assets/images/3.jpg")
            .col-lg-7.col-md-7.col-sm-12.col-12.pd-x3
                .item_content
                    .title.text-center
                        h1 Baby girl fashion
                    .content
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, exercitationem voluptates. Nostrum, eaque illo a tempore qui amet assumenda tenetur? Ullam, exercitationem autem! Tempora optio exercitationem, sit dolorem saepe totam.
                    .button
                        a(href="#").btn-item
                            | Xem thêm nè
                            <i class="fab fa-rocketchat"></i>
