.container
    #owl-demo.owl-carousel.owl-theme
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/4.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ 
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale SALE!
                    img(src="../../../dist/assets/images/2.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/3.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/6.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/5.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/1.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/2.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
        .item.hv-ic-bg.col
            li.img-hv-bg
                a(href="#")
                    span.sale HOT!
                    img(src="../../../dist/assets/images/5.jpg", alt="")
                    ul.row.list-icon
                        li
                            a(href="#")
                                i.far.fa-heart
                        li
                            a(href="#")
                                i.fas.fa-exchange-alt
                        li
                            a(href="#")
                                i.fas.fa-search
                    a.text-icon-img(href="#")
                        i.fas.fa-shopping-cart  THÊM VÀO GIỎ
            .products
                a.product-name(href="#") Đồ Thun
                .row.text-box
                    p.text-pink 100.000đ
                    p.text-pink.text-dt  120.000đ
